/build
/build_release
/build_dev_debug
/.vscode
/.cache

/cryptopp
/rocksdb
/protobuf
/libfmt
/spdlog
/libevent
/nlohmann_json
/proto/*.pb.*
/openssl
/compile_commands.json

/openssl/

/boost/


























# Prerequisites
.d

# Compiled Object files
.slo
.lo
.o
.obj
/objs
/crypto/cryptopp
/rocksdb
/protobuf
/boost
/proto/*.pb.*
# Precompiled Headers
.gch
.pch
/openssl
# Compiled Dynamic libraries
.so
.dylib
.dll

# Fortran module files
.mod
.smod

# Compiled Static libraries
.lai
.la
.a
.lib

# Executables
.exe
.out
.app
sdk*
/tools/protoc/.libs/lt-protoc
/tools/protoc/protoc
/proto/python/

# Dir
/.vscode
/data*
/cert
/logs
/data.db
/build*
# File
*.json
log.txt
block_*.*
net.conf
config.json*
trans.sh
blockdata.txt
proto/ca_protomsg.pb.cc.rej
copy_ebpc.sh
.fuse_hidden0000672900000002
/libfmt
/spdlog
/.cache
/.ccls-cache
/compile_commands.json
.idea/
/evmone
/.hunter
cmake-build-debug/
/libevent
openssl/
./CMakeLists.txt


/build
/build_release
/build_dev_debug
/.cache

/nlohmann_json
ca/ca_AdvancedMenu.cpp.rej
CMakeLists.txt.rej
